# macOS
.DS_Store

.idea
target/

__pycache__
.pytest_cache
.venv
**/*.egg-info

dataset/diagrams
dataset/diagrams-compressed
dataset/html-output

crawlers/download
crawlers/github-models.json

dataset-editor/

python-lib/dist
python-lib/build
python-lib/eamodelset.egg-info

_test
test/
archive/

neo4j/data/*
neo4j/logs/*
neo4j/plugins/*