# macOS
.DS_Store

.idea
target/

__pycache__
.pytest_cache
.venv

crawlers/download
crawlers/github-models.json

python-lib/dist
python-lib/build
python-lib/eamodelset.egg-info

_test

neo4j/data/*
neo4j/logs/*
neo4j/plugins/*